body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-conatiner {
    background-color: #eaf9f5;
}

h1{
    padding: 60px;
    margin-top: 0%;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
}

h2{
    font-size: 2.5rem;
}
h2, h3{
    font-family: 'Montserrat', sans-serif;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
}

.top-cloud{
    position: absolute;
    right: 320px;
    top: 30px;
}

.mountain{
    height: 35em;
}