body {
    margin: 0;
    text-align: center;
    font-family:;
}

.top-conatiner {
    background-color: #eaf9f5;
}

h1{
    margin-top: 0;
    padding-top: 100px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
}

.top-cloud{
    position: absolute;
    right: 380px;
    top: 40px;
}

.middle-container{
    background-color: red;
    height: 200px;
    width: 200px;
    border: 20px solid black;
    margin-left: 260px;
}

.bottom-container{
    background-color: yellow;
    height: 200px;
    width: 200px;
    border: 10px;
    margin-left: 500px;
}

