body {
    margin: 0;
}

h1{
    margin-top: 0;
}

.top-conatiner {
    background-color: #eaf9f5;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    padding: 20px;
}

.middle-container{
    background-color: red;
    height: 200px;
    width: 200px;
    border: 20px solid black;
    margin-left: 260px;
}

.bottom-container{
    background-color: yellow;
    height: 200px;
    width: 200px;
    border: 10px;
    margin-left: 500px;
}

