/*********************TAG SELECTORS**********************/
h1{
    color: red;
    font-size: 200px;
}

/*********************CLASS SELECTORS**********************/

.bacon:hover {
    background-color: green;
}

.carrot:hover {
    background-color: red;
}

/*********************ID SELECTORS**********************/

#heading:hover {
    color: blue;
}